.App {
  text-align: center;
}
/*navbar start*/
.nav-button-group{
text-align: center;
width: 100%;
height: 50px;
position: fixed;
top: 0px;
background-color: rgb(175, 248, 248);
}
.nav-button{
  border: 1px solid green;
  padding: 5px;
  margin: 5px;
  background-color: dimgray;
  color: white;
}
/*navbar end*/
/*Elemnt start*/
.bucket-container{
display: flex;
justify-content: center;
flex-direction: row;
width: 100%;
margin-top: 51px;
height: 90vh;
}

.bucket{
  width: 300px;
  height: 500px;
  border: 3px solid green;
  border-radius: 5px;
}
.button-group{
  display: flex;
  flex-direction: column;
}
.button{
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
  width: 125px;
  height: 40px;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
.items{
  border: 1px solid blue;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
/*Elemnt end*/
/*Nested list*/
.nested-container{
  margin-top: 51px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}
.nestd-main-list{
  display: flex;
  flex-direction: column;
}
.icon-size{
  width: 20px;
  height: 20px;
 
}
.f-icon{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  border: 2px solid red;
  width: 400px;
  height: 50px;
  padding: 10px;
  margin: 5px;
}
.box-list{
  text-align: center;
}
.image-start{
text-align: left;
}
.image-end{
text-align: end;
}
/*nested List end*/
/*scroll-start*/
.scrollable-element{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.scroll-p{
border: 1px solid green;
width: 100%;
height: 500px;

}
.scroll-count{
color: blue;
font-size: xx-large;
}
.scroll-img{
  width: 400px;
  height: 350px;
}
/*scroll-end*/
/*game start*/

.score {
  font-size: 24px;
  margin-top: 20px;
}
.game{
  width:auto;
  height: 80vh;
  text-align: center;
  margin-top: 51px;
}
.game-container{
display: grid;
grid-template-columns: 10% 10% 10%;
align-items: center;
}


.boxs{
  border: 2px solid red;
  width: 90px;
  height: 90px;
  margin-top: 35px;
  text-align: center;


}
/*game end*/
